# ==============================================================================
# Backend Lab - Environment Variables
# ==============================================================================

# ==============================================================================
# PostgreSQL
# ==============================================================================

POSTGRES_DB=pedidos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxx
POSTGRES_PORT=5432

# ==============================================================================
# pgAdmin
# ==============================================================================

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=xxx
PGADMIN_PORT=5050

# ==============================================================================
# Kafka
# ==============================================================================

HOST_IP=192.168.xx.xx

KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093

# ==============================================================================
# Kafka UI
# ==============================================================================

KAFKA_UI_PORT=8080

# ==============================================================================
# Redis
# ==============================================================================

REDIS_PORT=6379

# ==============================================================================
# Docker
# ==============================================================================

DOCKER_NETWORK=backend-network